@model List<poligonotiro.Models.ViewModels.ListaTemporizador>

@{
    ViewBag.Title = "Temporizador de Líneas";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}
<body style="background: url(/Content/images/pol1.jpg); background-size: cover; background-position: center;">
    <h2>@ViewBag.Title</h2>

    <div class="row" style="text-align:right;padding:5px;">
        <a href="#" data-toggle="modal" data-target="#agregartemporizador" class="btn btn-primary">Nuevo</a>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped" width="100%" border="3" cellspacing="10" cellpadding="10" style="background: white;">
                <tr>
                    <th width="33%">No. Temporizador</th>
                    <th width="33%">No. Reserva</th>
                    <th width="33%" style="text-align: center;">Acciones</th>
                </tr>
                @foreach (var oElemento in Model)
                {
                    <tr>
                        <td width="33%">@oElemento.Id </td>
                        <td width="33%">@oElemento.idreserva</td>
                        <td width="33%" align="center">
                            <a href="" data-toggle="modal" data-target="#editartemporizador" class="btn btn-warning" onclick="editartemporizador('@oElemento.Id','@oElemento.idreserva')">Editar</a>
                            <a href="" data-toggle="modal" data-target="#eliminartemporizador" class="btn btn-danger" onclick="eliminartemporizador('@oElemento.Id')">Eliminar</a>
                        </td>
                    </tr>
                }
            </table>
        </div>

    </div>

    <script type="text/javascript">
        function editartemporizador(id, idreserva) {
            $('#idactualiza').val(id);
            $('#idreservaact').val(idreserva);
    };

        function eliminartemporizador(id) {
            $('#idelimina').val(id);
        }
    </script>


    <div class="modal fade" id="agregartemporizador" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Temporizador</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    @using (Html.BeginForm("Nuevo", "Temporizador", FormMethod.Post))
                    {

                        <div class="row">
                            <center>
                                <div class="col col-md-12">
                                    <label for="my-input">No de Reserva:</label>
                                    @Html.DropDownList("idreserva", items, "Selecciona una reserva", new { @class = "form-control" })

                                </div>
                            </center>
                        </div>

                        <br />

                        <div class="row" style="text-align: center;">
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                        </div>

                    }

                </div>

                <div class="modal-footer">

                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="editartemporizador" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Reservas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    @using (Html.BeginForm("Editar", "Temporizador", FormMethod.Post))
                    {

                        <div class="row">
                            <center>
                                <input type="hidden" name="idactualiza" id="idactualiza" class="form-control" placeholder="ID" required="" readonly="">

                                <div class="col col-md-12">
                                    <label for="my-input">No de Reserva:</label>
                                    @Html.DropDownList("idreservaact", items, "Selecciona una reserva", new { @class = "form-control" })

                                </div>
                            </center>
                        </div>

                        <br />

                        <div class="row" style="text-align: center;">
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                        </div>

                    }

                </div>

                <div class="modal-footer">

                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="eliminartemporizador" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Temporizador</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    @using (Html.BeginForm("Eliminar", "Temporizador", FormMethod.Get))
                    {

                        <div class="row">
                            <center>
                                <input type="hidden" name="idelimina" id="idelimina" class="form-control" placeholder="ID" required="" readonly="">

                                <h2>¿Está Seguro de eliminar el temporizador?</h2>
                            </center>
                        </div>

                        <br />

                        <div class="row" style="text-align: center;">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <input type="submit" value="Aceptar" class="btn btn-primary" />
                        </div>

                    }

                </div>

                <div class="modal-footer">

                </div>

            </div>
        </div>
    </div>
</body>